/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
}

.back {
  position: absolute;
  top: 50px;
  left: 170px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
  border: none;
  background-color: yellow;
  text-shadow: 0 1px 4px rgba(0,0,0,0.8);
}
.navbar {
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: absolute;
  top: 1px;
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* BUTTON */
.btn {
  padding: 6px 15px;
  background-color: #e0e0e0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: #ccc;
}

.search {
  padding: 6px 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.film-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 60px;
  justify-items: center;
}

.film-card {
  text-align: center;
}

.film-card img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  display: block;
  background-color: #333;
  border: 2px solid #444;
}

/* TITLE */
.film-title {
  margin: 10px 0;
  font-weight: bold;
}

/* BUTTON FILM */
.film-btn {
  background-color: #222;
  color: white;
  border: none;
  padding: 8px;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
}

.film-btn:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .film-container {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* Film.html */

.pembungkus, aside, .deskripsi {
    display: flex;
}
.pembungkus {
    width: 80%;
    gap: 30px;
}
 button {
  height: 40px;
}
.deskripsi {
    gap: 20px;
    align-items: center;
}
aside {
    gap: 10px;
}
aside, .deskripsi {
    flex-direction: column; 
}
#rate, #harga {
    padding: 17px;
    text-align: center;
}
#rate {
    color: rgb(236, 197, 1);
}
#judul { 
    font-size: 15px;
    padding: 30px;
}
#hari, #waktu {
    overflow: hidden;
    width: 100%;
}
#hari h3, #waktu h3 {
    background: yellow;
    text-shadow: 0 1px 4px rgba(0,0,0,0.8);
    padding: 15px;
}
#hari button, #waktu button {
    margin: 20px;
    border: none;
    padding: 10px;
    border-radius: 8px;
}
button.active {
  background: rgb(236, 197, 1);
  color: black;
}
#hari, #waktu, #judul, #rate, #harga, aside img {
    background-color: #232224;
    border-radius: 10px;
}
.confirm {
  margin-top: 30px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  width: 500px;
  background: yellow;
  color: white;
  text-shadow: 0 1px 4px rgba(0,0,0,0.8);
}

/* seat.html */
#isikursi button{
  background-color: red;
  border: none;
  color: white;
  text-shadow: 0 1px 4px rgba(0,0,0,0.8);
  width: 80px;
  height: 80px;
  font-weight: bold;
  border-radius: 12px;
}
.nav-btn {
  width: 60%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.kembali {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
  border: none;
  background-color: yellow;
  text-shadow: 0 1px 4px rgba(0,0,0,0.8);
}
.booked {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  color: white;
  border: none;
  background-color: yellow;
  text-shadow: 0 1px 4px rgba(0,0,0,0.8);
}
.bungkusKursi {
  width: 70%;
  height: 70%;
}
.bungkusKursi h1 {
  margin-left: 100px;
}
#isikursi {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}